/* Google fonts */

@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
/* General Resets */

*, *:after, *:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: Roboto, sans-serif;
  height: 100%;
  width: 100%;
}

h1, h2, h3, h4, h5, h6, p, a {
  margin: 0;
  padding: 0;
}

p {
  font-size: 1.6rem;
  font-weight: 300;
  color: #5d5d5d;
  line-height: 2.4rem;
}

ul, li {
  list-style-type: none;
}

a, a:link, a:visited, a:active {
  text-decoration: none;
}

.container {
  width: 117rem;
  margin: 0 auto;
}

/* Helper Classes */

.btn {
  border-radius: 3rem;
  padding: 1.5rem 2.5rem;
  display: inline-block;
  font-weight: 500;
}

.btn--purple {
  background-color: #7f56fd;
  color: #fff;
}

.btn--white {
  background-color: #fff;
  color: #7f56fd;
}

.section--heading {
  text-align: center;
  margin-bottom: 6rem;
}

.section--title {
  font-size: 3.5rem;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  margin-bottom: 4rem;
}

.section--title:after {
  content: "";
  position: absolute;
  bottom: -1.5rem;
  left: 25%;
  width: 50%;
  height: 0.2rem;
}

.section--title:before {
  content: "";
  position: absolute;
  bottom: -2.5rem;
  left: 35%;
  width: 30%;
  height: 0.2rem;
}

.title--bg-light:after, .title--bg-light:before {
  background-color: #7f56fd;
}

.title--bg-dark {
  color: #fff;
}

.title--bg-dark:after, .title--bg-dark:before {
  background-color: #fff;
}

.section--subtitle {
  width: 50%;
  margin: 3rem auto 0 auto;
}

.padding-t-b {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.m-b-small {
  margin-bottom: 1.5rem;
}

/* Start Header */

.header {
  height: 100vh;
  background: linear-gradient(to right, rgba(127, 86, 253, 0.9), rgba(120, 88, 221, 0.7)), url("../img/header-background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  position: relative;
}

.header :after {
  content: "";
  display: table;
  clear: both;
}

.header__top {
  /* padding: 2rem 0;*/
  height: 8rem;
  line-height: 8rem;
}

.header__logo {
  float: left;
}

.header__logo-img {
  vertical-align: middle;
}

.header__logo-text {
  font-size: 3rem;
  font-weight: 500;
  vertical-align: middle;
  text-transform: uppercase;
  color: #fff;
  display: inline-block;
}

.navbar__list {
  float: right;
}

.navbar__item {
  display: inline-block;
  padding-right: 1rem;
  padding-left: 1rem;
}

.navbar__link {
  color: #fff;
  text-transform: uppercase;
}

/* Hero Section */

.header__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.header__title {
  font-size: 5rem;
}

.header__sub-title {
  font-size: 1.8rem;
  margin: 2rem 0 2rem;
  color: #fff;
  font-weight: 400;
}

.header__cta {
  margin-top: 3rem;
}

/* End Header */

/* Start About */

.about__content:after {
  content: "";
  display: table;
  clear: both;
}

.about__image {
  float: left;
  width: 20%;
}

.about__desc {
  float: right;
  width: 70%;
  padding: 5rem;
}

.about__text {
  font-weight: 500;
  line-height: 3rem;
  margin-bottom: 3rem;
  padding: 3rem 0;
  border-bottom: 1px dashed #c1c1c1;
}

.about__pos {
  margin-bottom: 3rem;
}

.about__pos:after {
  content: "";
  display: table;
  clear: both;
}

.about__pos--data {
  width: 40%;
  float: left;
  padding: 2rem 0;
}

.about__pos--data:not(:last-child) {
  margin-right: 2rem;
}

.pos--data {
  font-weight: 400;
}

.about__cta--btn {
  padding: 1.5rem 5rem;
}

.about__cta--btn:not(:last-child) {
  margin-right: 3rem;
}

/* End About */

/* Start Skills */

.skills {
  background: linear-gradient(to right, rgba(127, 86, 253, 0.9), rgba(120, 88, 221, 0.7)), url("../img/skill-background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.skills__subtitle {
  color: #fff;
}

.skills__items:after {
  content: "";
  display: table;
  clear: both;
}

.skills__item {
  background-color: #fff;
  width: calc(95% / 3);
  text-align: center;
  padding: 3rem 6rem;
  border-radius: 1.5rem;
  text-transform: uppercase;
  float: left;
}

.skills__item--title {
  font-weight: 700;
  font-size: 1.6rem;
}

.skills__item:not(:last-child) {
  margin-right: 2.5%;
}

.skills__item--progress {
  width: 90%;
  height: 0.8rem;
  margin: 2rem auto 0;
  background-color: #e1e1e1;
  border-radius: 1rem;
}

.progress__value {
  width: 90%;
  height: 100%;
  display: block;
  border-radius: 1rem;
}

.progress--blue {
  background-color: #7fb7fa;
}

.progress--orange {
  background-color: #ffac1b;
}

.progress--purple {
  background-color: #c99aff;
}

/* End Skills */

/* Start Skills */

.service__items:after {
  content: "";
  display: table;
  clear: both;
}

.service__card {
  background-color: #fff;
  width: calc(95% / 3);
  text-align: center;
  padding: 3rem 2rem;
  border-radius: 1rem;
  text-transform: uppercase;
  float: left;
  box-shadow: 0 0.1rem 0.5rem rgba(0, 0, 0, 0.3);
}

.service__card:not(:last-child) {
  margin-right: 2.5%;
}

.service__card--title {
  margin: 1.5rem 0;
}

.service__card--desc {
  font-size: 1.4rem;
  font-weight: 500;
}

/* End Service */

.portfolio__control {
  text-align: center;
  margin-bottom: 6rem;
  padding: 1rem 0;
}

.control__list--item {
  display: inline-block;
  padding: 1rem 6rem;
  font-weight: 700;
  border: 1px solid #000;
  cursor: pointer;
  border-radius: 2rem;
  text-transform: uppercase;
}

.control__list--item.active {
  border-color: transparent;
  background-color: #7f56fd;
  color: #fff;
}

.control__list--item:not(:last-child) {
  margin-right: 2rem;
}

.control__list--item:hover {
  border-color: transparent;
  background-color: #7f56fd;
  color: #fff;
}

.portfolio__single--row:after {
  content: "";
  display: table;
  clear: both;
}

.row--top {
  margin-bottom: 3rem;
}

.portfolio__single {
  background-color: #eee;
  width: calc(95% / 3);
  float: left;
  position: relative;
  border-radius: 3rem;
  cursor: pointer;
}

.portfolio__single:not(:last-child) {
  margin-right: 2.5%;
}

.portfolio__single--img {
  display: block;
  max-width: 100%;
}

.portfolio__single--data {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(127, 86, 253, 0.7);
  opacity: 0;
  border-radius: 1rem;
  transition: all 0.2s;
}

.portfolio__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4rem;
  color: #fff;
}

.portfolio__single--text {
  position: absolute;
  bottom: 3rem;
  left: 3rem;
  color: #fff;
  text-transform: uppercase;
}

.portfolio__title {
  margin-bottom: 2rem;
}

.portfolio__subtitle {
  font-size: 1.4rem;
}

.portfolio__single:hover .portfolio__single--data {
  opacity: 1;
}

/* END Portfolio */

/* Start Testiomonials */

.testimonials {
  background: linear-gradient(to right, rgba(127, 86, 253, 0.9), rgba(120, 88, 221, 0.7)), url("../img/slider-background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.testi__content {
  text-align: center;
  color: #fff;
  padding: 2rem 3rem;
}

.testi__avatar {
  width: 15%;
  margin: 0 auto;
}

.testi__avatar--img {
  display: block;
  max-width: 100%;
  border-radius: 50%;
}

.testi__content--title {
  margin: 2rem 0;
  font-size: 2.4rem;
  font-weight: 400;
}

.testi__content--subtitle {
  color: #fff;
  margin-bottom: 3rem;
}

.testi__content--desc {
  color: #fff;
}

.testi__content-list {
  margin: 2rem 0;
}

.testi__content-list--item {
  display: inline-block;
  margin-bottom: 3rem;
}

.testi__control-list--item {
  display: inline-block;
  width: 3rem;
  height: .5rem;
  border-radius: 1rem;
  cursor: pointer;
  border-width: .1rem;
  border-style: solid;
  border-color: #fff;
}

.testi__control-list--item.active {
  background-color: #fff;
  border-color: transparent;
}

/* End Testimonials */

/* Start Team */

.team__content {
  padding: 6rem 2rem;
}

.team__content:after {
  content: '';
  display: table;
  clear: both;
}

.team__card {
  width: calc((100% - 6rem) / 4);
  float: left;
  box-shadow: 0 0.1rem 0.5rem rgba(0, 0, 0, 0.3);
  border-radius: .5rem;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.team__card:not(:last-child) {
  margin-right: 2rem;
}

.team__card--img {
  display: block;
  max-width: 100%;
}

.team__card:hover .team__overlay {
  transform: translateY(0);
}

.team-details {
  padding: 2rem 1rem;
}

.team__details--name {
  text-transform: uppercase;
  color: #273f59;
  margin-bottom: 1.5rem;
}

.team__details--pos {
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 500;
}

.team__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: .5rem;
  padding: 2rem;
  background-color: #fff;
  transform: translateY(100%);
  transition: all 0.3s;
}

.team__overlay--skills {
  padding: 3rem 0;
  border-bottom: 1px solid #ECEFF1;
}

.team__progress {
  width: 90%;
  height: .7rem;
  background-color: #e1e1e1;
  border-radius: 1rem;
}

.team__progress:not(:last-child) {
  margin-bottom: 2rem;
}

.team__progress--title {
  font-size: 1.4rem;
  margin-bottom: 1.2rem;
  font-weight: 500;
  position: relative;
}

.team__progress--num {
  display: inline-block;
  position: absolute;
  right: 2rem;
}

.team__progress--value {
  height: 0.7rem;
  display: block;
  background-color: #7f56fd;
  border-radius: 1rem;
}

.progress--big {
  width: 90%;
}

.progress--medium {
  width: 70%;
}

.progress--small {
  width: 60%;
}

.team__list-item {
  display: inline-block;
  padding: 1rem 0;
  color: #e1e1e1;
}

.team__list-item:not(:last-child) {
  margin-right: 1.5rem;
}

/* End Team */

/* Start Brands */

.brands {
  background: linear-gradient(to right, rgba(127, 86, 253, 0.9), rgba(120, 88, 221, 0.7)), url("../img/brand-logo-background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  text-align: center;
}

.brands__items:after {
  content: '';
  display: table;
  clear: both;
}

.brands__single {
  padding: 3rem;
  width: calc(100% / 5);
  float: left;
}

/* End Brands */

/* Start blog */

.blog__items {
  padding: 3rem 0;
}

.blog__items:after {
  content: '';
  display: table;
  clear: both;
}

.blog__card {
  width: calc(95% / 3);
  box-shadow: 0 0.1rem 0.5rem rgba(0, 0, 0, 0.3);
  border-radius: .5rem;
  float: left;
}

.blog__card:not(:last-child) {
  margin-right: 2.5%;
}

.blog__card__photo {
  display: block;
  max-width: 100%;
}

.blog__card__body {
  text-align: center;
  padding: 3rem;
}

.blog__card__date {
  font-weight: 500;
  margin-bottom: 3rem;
}

.blog__card__comment {
  display: inline-block;
  width: 30%;
  text-align: right;
}

.blog__card__title {
  text-transform: uppercase;
  margin-bottom: 2rem;
  cursor: pointer;
}

.blog__body__desc {
  text-transform: 1.6rem;
  line-height: 1.8;
  font-weight: 400;
}

.blog__body__cta {
  text-transform: uppercase;
}

.footer {
  background-color: #27353B;
}

.footer__contact {
  padding: 3rem 0;
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.footer__logo {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 3rem;
}

.footer__contact-list {
  color: #9ca1a3;
}

.contact-list__item {
  display: inline-block;
  width: calc(80% / 3);
}

.footer__bottom {
  text-align: center;
  margin-top: 6rem;
  color: #fff;
}

.social-list__item {
  display: inline-block;
  margin-bottom: 3rem;
  cursor: pointer;
}

.social-list__item:not(:last-child) {
  margin-right: 3rem;
}